.pokemonPerfil img{
    width: 100%;
}

.imgContentPok{
    background: rgb(115, 243, 83);
    border: 2px solid rgb(32, 160, 60);
    border-style: dashed;
}

.pokemonPerfil{
    background: rgb(255, 230, 193);
    padding: 46px;
}

.container2{
    padding-top: 1%;
    margin-left: 1%;
}

.formularioError{
    font-size: 0.8em;
}

.colornom{
    background: rgb(248, 45, 72);
    border-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5em;
}

.colornom:hover{
    background-color: blueviolet;
}

.container{
    padding-top: 3%;
}

.colorNav{
    background-color: rgb(46, 221, 99);
}

.footerPokemon{
    margin-top: 8em;
    padding-top: 3em;
    background-color: rgb(152, 255, 126);
    padding-bottom: 5em;
    position:fixed;
    left:0%;
    bottom:0px;
    height:30px;
    width:100%;
}

.textFooter{
    margin-left: 3em;
}

#colorP2{
    color: black;
    font-style: oblique;
    
}

.colorBoton{
    background-color: rgb(105, 238, 145);
}